<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi signs apprentice</title>
 <H1 class="center ">Taxi Sign Teacher</H1>

</head>
<body>

    <div class="player1">
        <input type="text" name="radio" value="Player1">

    </div>
    
</body>
</html>